
#raefftec_userlist td.avatar {
	width: 58px;
}
#raefftec_userlist img.avatar {
	margin-bottom: -9px;
}

@media only screen and (max-width: 1200px) {
	#raefftec_userlist td.avatar,
	#raefftec_userlist th.avatar { 
		display: none; 
	}
}

@media only screen and (max-width: 719px) {
	#raefftec_userlist table,
	#raefftec_userlist thead,
	#raefftec_userlist tbody,
	#raefftec_userlist tr,
	#raefftec_userlist th,
	#raefftec_userlist td {
		display: block;
		text-align: left;
	}
	#raefftec_userlist thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	#raefftec_userlist td {
		position: relative;
		padding-left: 40%;
	}
	#raefftec_userlist td:before {
		content: attr(data-th);
		position: absolute;
		top: 0px;
		left: 0px;
		width: 40%;
		padding: 5px;
		padding-right: 10px;
		white-space: nowrap;
		box-sizing: border-box;
		font-size: 12px;
	}
}